version: "3.9"

networks:
  url_network:
    driver: bridge

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "${DB_PORT}:5432"
    networks:
      - url_network

  redis:
    image: redis:latest
    ports:
      - "${CACHE_PORT}:6379"
    networks:
      - url_network

  app:
    build: .
    env_file: .env
    ports:
      - "${SERVER_PORT}:8080"
    depends_on:
      - db
      - redis
    networks:
      - url_network